ipykernel
ipywidgets
python-dotenv
pandas
openai
scipy
plotly-express
scikit-learn
umap-learn
tiktoken
sentence-transformers
google-genai
matplotlib
# beautifulsoup4
psycopg2-binary
pgvector
faiss-cpu
llama-index-llms-azure-openai
llama-index